/* 
// Fonts
$mainFont : 'Raleway', sans-serif;

// Media Queries
$phone : 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #005b9f;
$secondary:#003f8c;
$tertiary: #009045;
$alternative: #ce6b00;
$gray: #eeeeee;
$darkGray: #373737;
$white: #FFFFFF;

*/
html {
    box-sizing: border-box;
    height: 100%;
  }
  
  *,
  *:after,
  *:before {
    box-sizing: inherit;
  }

body {
    min-height: 100%;
}
img {
    max-width: 100%;
}
.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.app.no-menu .sidebar {
  margin-left: -20rem;
}

i {
    margin: 0 1rem;
    font-size: 1.2rem;
}
.header {
    display: flex;
}
.header .site-name {
    flex: 0 0 5rem;  
    background-color: #003f8c; 
    padding-left: 1rem;
}
@media (min-width: 1000px) {
    .header .site-name {
        flex: 0 0 20rem;
    }
}
.header .site-name h1 {
    color: #fff;
}
.desktop {
    display: none;
}
.mobile {
    display: block;
}
@media (min-width: 1000px) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}
.bar {
    display: flex;
    flex: 1;
    background-color: #005b9f;
    justify-content: space-between;
}
.bar .left-content {
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 1rem;    
}
.bar .left-content .fa-arrow-right {
    display: none;
}
.bar .right-content {
    display: flex;
}
.bar .right-content .box {
    display: flex;
    align-items: center;
    padding: 0 1rem;
}
.bar .right-content .box:hover {
    background-color: #003f8c;
}
.bar .right-content .box a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.bar .right-content .box a span {
    background-color: #009045;
    padding: .5rem;
    border-radius: 50%;
    margin-left: .5rem;
}
.main-content {
    display: flex;    
    flex: 1;
}
.sidebar {
  transition: margin-left .3s ease;
  flex: 0 0 20rem;
  background-color: #373737;
  color: #fff;
  padding: 1rem 2rem 0 2rem;
}
.user {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user img {
    max-width: 60px;
}
.user span {
    font-weight: bold;
    display: block;
}
.search {
    margin-top: 1rem;
}
.search input[type="text"] {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    border-radius: 10px;
    border: none;
}

.menu-admin {
    margin-top: 1rem;
}
.menu-admin h2 {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
}
.menu-admin .menu {
    list-style: none;
    padding: 0;
}
.menu-admin .menu > li {

}
.menu-admin .menu > li ul {
    display: none;
    list-style: none;
    padding: 1rem;
    background-color: rgba(0,0,0,.4);
    margin-top: 1rem;
}
.menu-admin .menu > li{
    margin-bottom: 1rem;
}
.menu-admin .menu > li ul li {
    margin-bottom: 1rem;
}
.menu-admin .menu > li ul li:last-of-type {
    margin-bottom: 0;
}
.menu-admin .menu > li:hover ul {
    display: block;
}
.menu-admin .menu > li ul a,
.menu-admin .menu > li a {
    color: #fff;
    text-decoration: none;
    padding: .5rem;
}
.menu-admin .menu > li a:hover {
  background-color: ;
}
.menu-admin .menu > li a:hover {
    background-color: #005b9f;
    padding-left: 2rem;
    transition: all .2s ease;
}

.content {
  flex: 1;
  padding: 1rem;
  background-color: #eeeeee;
}
.content h2 {
  text-align: center;
}
.new-client {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.new-client .field {
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;    
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5rem;
}
@media (min-width: 768px){
  .new-client .field {
    flex: 0 0 50%;
  }
}
.new-client .field label {
  flex: 0 0 120px;
  padding-left: 1rem;  
  font-weight: bold;
}
.new-client .field input[type="text"],
.new-client .field textarea {
  flex: 1;
  border: none;
  padding: .5rem 1rem;
}
.new-client .field textarea {
  height: 10rem;
}
.new-client .field.expand {
  flex: 0 0 100%;
}
.new-client .field.expand .options {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .new-client .field.expand .options {
    flex: 0 0 40%;
    justify-content: flex-start;
  }
}
.new-client .field.expand .options label {
  flex: 1;
  padding-left: .5rem;
}
.new-client .field.expand.submit {
  display: flex;
  justify-content: flex-end;
}
.new-client .field.expand.submit .button {
  background-color: #005b9f;
  padding: 1rem;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  transition: background-color .3s ease;
}
.new-client .field.expand.submit .button:hover {
  cursor: pointer;
}

/* 
 To show/hide side menu: 
 * listen for a click on the arrow icons
 * the class 'no-menu' is what controls everything, add and remove it from the .app element


*/